/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
12 / 16 / 20 / 26 / 32 / 40 

- Font weights
Default: 400
600
700

- Line heights
Default: 1
1.5

- Letter spacing
0.02

--- 02 COLORS
hsl(0, 0%, 100%);
hsl(30, 54%, 90%);
hsl(30, 18%, 87%);
hsl(30, 10%, 34%);
hsl(24, 5%, 18%);
hsl(14, 45%, 36%);
hsl(332, 51%, 32%);
hsl(330, 100%, 98%);

--- 03 BORDER-RADIUS
0.5
0.9

--- 04 WHITESPACE

- Spacing system (px)
10 / 12 / 16 / 24 / 28 / 32/ 40/ 48 
*/

:root {
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  background-color: var(--stone-100);
  line-height: 1.5;
  color: var(--stone-600);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 46rem;
  padding: 2.5rem 2rem;
  margin: 2rem auto auto;
  background-color: var(--white);
  border-radius: 0.9rem;
}

.recipe-img {
  width: 100%;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

.section-introduction {
  margin-bottom: 1.75rem;
}

.introduction-container {
  margin-bottom: 1.5rem;
}

.primary-title {
  font-family: "Young Serif", sans-serif;
  font-size: 2.5rem;
  color: var(--stone-900);
  margin-bottom: 1.5rem;
  line-height: 1;
}

.preparation-container {
  background-color: var(--rose-50);
  padding: 1rem 1.75rem;
  border-radius: 0.5rem;
}

.preparation-time-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--rose-800);
  margin-bottom: 0.8rem;
}

.preparation-time-list,
.instruction-list,
.ingredient-list {
  color: var(--stone-600);
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.preparation-time-item,
.instruction-item,
.ingredient-item {
  padding-left: 1rem;
}

.preparation-time-item::marker {
  color: var(--rose-800);
  font-size: 0.8rem;
}

.secondary-title {
  font-family: "Young Serif", sans-serif;
  font-size: 1.6rem;
  color: var(--brown-800);
  margin-bottom: 1rem;
}

.ingredient-item::marker {
  color: var(--brown-800);
  font-size: 0.8rem;
}

hr {
  border: 1px solid var(--stone-150);
  margin: 2rem 0;
}

.instruction-item {
  letter-spacing: 0.02rem;
}

.instruction-item::marker {
  color: var(--brown-800);
  font-size: 1rem;
  font-weight: 600;
}

.nutrition-description {
  margin-bottom: 1rem;
}

.nutrition-table {
  width: 100%;
  border-collapse: collapse;
}

.nutrition-item th {
  width: 50%;
  font-weight: normal;
  padding: 0.6rem 1.75rem;
  border-bottom: 1px solid var(--stone-150);
  text-align: left;
}

.nutrition-item td {
  width: 50%;
  font-weight: 700;
  padding: 0.6rem 0;
  border-bottom: 1px solid var(--stone-150);
  color: var(--brown-800);
}

.last-item td,
.last-item th {
  border-bottom: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 0.6rem 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/**************************/
/* BELOW 416px (Phones) */
/**************************/
@media (max-width: 26em) {
  .container {
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0;
  }

  .recipe-img {
    border-radius: 0;
  }

  .content {
    padding: 0 2rem 2.5rem;
  }

  .primary-title {
    font-size: 2rem;
  }
}
